.top-nav {
  background-color: #494949;
  text-transform: uppercase;
  font: 62.5% Garamond, "Adobe Garamond Pro", "Apple Garamond", "ITC Garamond", Georgia, Times, "Times New Roman", serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  .top-nav a {
    margin-left: 25px; }
  .top-nav a:link {
    color: #FFFFFF; }
  .top-nav a:visited {
    color: #FFF; }
  .top-nav a:hover {
    color: #A6A6AA; }
  .top-nav a:active {
    color: #FFF; }
