.top-nav{
  background-color: #494949;
  text-transform: uppercase;
  font: 62.5% Garamond,"Adobe Garamond Pro","Apple Garamond","ITC Garamond",Georgia,Times,"Times New Roman",serif;
  a{
    margin-left:25px;
  }
  /* unvisited link */
  a:link {
    color: #FFFFFF;
  }

  /* visited link */
  a:visited {
    color: #FFF;
  }

  /* mouse over link */
  a:hover {
    color: #A6A6AA;
  }

  /* selected link */
  a:active {
    color: #FFF;
  }
}
