<div class="row" data-th-attr="data-live-edit-type=${component.type}">
    <div data-live-edit-type="region" class="large-9 columns">
        <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>

    <aside data-live-edit-type="region" class="large-3 columns" >
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag" />
        </div>
    </aside>
</div>