<section data-th-attr="data-live-edit-type=${component.type}">
    <h2>Blog entries</h2>
    <ul class="item" data-th-each="blogentry : ${blogentries}">
        <li data-th-text="${blogentry}">A blog entry will appear here.</li>
    </ul>
</section>