<!doctype html>
<html class="no-js" lang="en">
    <head>


        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>m6blog</title>

        <link rel="stylesheet"
              data-th-href="${context.url.createResourceUrl('libs/foundation/css/foundation.css')}"
              href="../public/libs/foundation/css/foundation.css"/>

        <link rel="stylesheet" data-th-href="${context.url.createResourceUrl('css/main.css')}"
              href="../public/css/main.css"/>

        <script data-th-href="${context.url.createResourceUrl('libs/foundation/js/vendor/modernizr.js')}"
                src="../public/libs/foundation/js/vendor/modernizr.js"></script>
    </head>

    <body data-ng-app="BlogApp" data-live-edit-type="page" data-th-class="${editable}? 'edit'">

        <!--<section data-live-edit-type="">
            <img data-th-src="${context.url.createImageByIdUrl(person.image[0])}"/>
            <p data-th-text="${person['first-name'][0]}"/>
            <p data-th-remove="all">John Doe (beginner designers content)</p>
        </section>>-->


        <div class="row top-nav">
            <div class="large-12 columns">
                <div class="nav-bar right">
                    <ul class="button-group" data-ng-controller="linkController">
                        <li data-ng-repeat="link in links">
                            <a data-ng-href="{{link.url}}">{{link.description}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h1>Runeway
                    <small>Life in-between 1's and 0's</small>
                </h1>
                <hr/>
            </div>
        </div>

        <div class="row">

            <div class="large-9 columns" role="content">

                <article>

                    <h3><a href="#">Blog Post Title</a></h3>
                    <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                    <div class="row">
                        <div class="large-6 columns">
                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.
                                Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine
                                spare ribs reprehenderit culpa.</p>

                            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim
                                jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                        </div>
                        <div class="large-6 columns">
                            <img src="http://placehold.it/400x240&amp;text=[img]"/>
                        </div>
                    </div>

                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                        nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl.
                        Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola
                        enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                        nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl.
                        Capicola short ribs minim salami nulla nostrud pastrami.</p>

                </article>

                <hr/>


                <article>

                    <h3><a href="#">Blog Post Title</a></h3>
                    <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                    <div class="row">
                        <div class="large-6 columns">
                            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.
                                Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine
                                spare ribs reprehenderit culpa.</p>

                            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim
                                jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                        </div>
                        <div class="large-6 columns">
                            <img src="http://placehold.it/400x240&amp;text=[img]"/>
                        </div>
                    </div>

                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                        nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl.
                        Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola
                        enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                        nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl.
                        Capicola short ribs minim salami nulla nostrud pastrami.</p>

                </article>

            </div>


            <aside class="large-3 columns">

                <h5>Categories</h5>
                <ul class="side-nav" data-ng-controller="categoriesController">
                    <li data-ng-repeat="category in categories"><a href="#">{{category.name}}</a></li>
                </ul>

                <div class="panel">
                    <h5>Featured</h5>

                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                        nulla pork belly cupidatat meatloaf cow.</p>
                    <a href="#">Read More →</a>
                </div>

            </aside>


        </div>


        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-6 columns">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right" data-ng-controller="linkController">
                            <li data-ng-repeat="link in links">
                                <a data-ng-href="{{link.url}}">{{link.description}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script data-th-src="${context.url.createResourceUrl('libs/jquery/dist/jquery.min.js')}"
                src="../public/libs/jquery/dist/jquery.min.js"></script>

        <script data-th-src="${context.url.createResourceUrl('libs/angular/angular.min.js')}"
                src="../public/libs/angular/angular.min.js"></script>

        <script data-th-src="${context.url.createResourceUrl('libs/angular-route/angular-route.min.js')}"
                src="../public/libs/angular-route/angular-route.min.js"></script>

        <script data-th-src="${context.url.createResourceUrl('js/app.js')}" src="../public/js/app.js"></script>
        <script data-th-src="${context.url.createResourceUrl('js/controllers.js')}" src="../public/js/controllers.js"></script>

    </body>
</html>
